name: Checker
on:
  push:
    branches:
      - main
      - 'feature/*'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install pnpm and build project
        run: |
          npm install -g pnpm
          pnpm install
          pnpm run build

      - name: Log in to Github CR
        run: docker login ghcr.io -u ${{ github.actor }} --password-stdin

      - name: Docker image...
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ghcr.io/${{ github.actor }}/${{ github.event.repository.name }}:latest
